<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="opl.launchType">
<stringAttribute key="opl.debugModel.ATTR_ELEMENT_ID" value="=bende\rsRCon\figu\rações de ExecuçãorBende\rs Basic"/>
<stringAttribute key="opl.debugModel.ATTR_PROJECT" value="benders"/>
<stringAttribute key="opl.debugModel.ATTR_RUN_CONFIG" value="Benders Basic"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/benders"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>