body {
  padding-left: 2cm;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: purple;
  background-color: #d8da3d }

  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif ;
    padding-left: -1cm   ;
    padding-right: -1cm  

        }

   p {
    padding-left: 5cm   ;
    padding-right: 3cm 
   }     